@using UnivarsityManagemantSystem.Models
@{
    ViewBag.Title = "Alocate";
    Layout = "~/Views/Shared/_FacultyLayout.cshtml";
    List<Department> departments = ViewBag.Departments;    
    List<Course> courses = ViewBag.Courses;
    List<Room> rooms = ViewBag.Rooms;
    List<Day> days = ViewBag.Days;
    
}

<h4><i class="icon-plus-sign">Allocate Classroom</i></h4>
<!DOCTYPE html>

@section style
    {
    <style>
        label.error {
            color: red;
            font-style: italic;
            display: inline;
        }
    </style>
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
   
</head>
<body>
    <div>
        <form method="POST" id="saveAllocateForm">
            <table>
               
                <tr>
                    <td><label for="">Department : </label></td>
                    <td>
                        <select id="DepartmentId" name="DepartmentId">
                            <option value="">- - - - - - - - - Select - - - - - - - - -</option>
                            @foreach (Department department in departments)
                            {
                                <option value="@department.DeptId">@department.DeptName</option>

                            }
                        </select>

                    </td>

                </tr>
                <tr>
                    <td><label for="">Course : </label></td>
                    <td>
                        <select id="CourseId" name="CourseId">
                            <option value="">- - - - - - - - - Select - - - - - - - - -</option>
                            @foreach (Course course in courses)
                            {
                                <option value="@course.CourseId">@course.CourseName</option>

                            }
                        </select>

                    </td>

                </tr>
                <tr>
                    <td><label for="">Room No : </label></td>
                    <td>
                        <select id="RoomId" name="RoomId">
                            <option value="">- - - - - - - - - Select - - - - - - - - -</option>
                            @foreach (Room room in rooms)
                            {
                                <option value="@room.RoomId">@room.RoomNo</option>

                            }
                        </select>

                    </td>

                </tr>
                <tr>
                    <td><label for="">Day : </label></td>
                    <td>
                        <select id="DayId" name="DayId">
                            <option value="">- - - - - - - - - Select - - - - - - - - -</option>
                            @foreach (Day day in days)
                            {
                                <option value="@day.DayId">@day.DayName</option>

                            }
                        </select>

                    </td>

                </tr>
                <tr>
                    <td><label for="FromTime">From Time : </label></td>
                    <td><input type="time" id="FromTime" name="FromTime" />
                        
                    </td>
                </tr>
                <tr>
                    <td><label for="ToTime">To Time : </label></td>
                    <td><input type="time" id="ToTime" name="ToTime" />
                        
                    </td>
                  
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-success"  value="Allocate" /></td>

                </tr>
               
                <tr>
                    <td></td>
                    <td><h4>@ViewBag.Message</h4></td>
                </tr>
            </table>
        </form>
    </div>
    @section scripts{
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>


        $("#saveAllocateForm").validate({
            rules: {
                DepartmentId: "required",
                CourseId: "required",
                RoomId: "required",
                DayId: "required",
                FromTime: "required",
                ToTime: "required",

            },
            messages: {
                DepartmentId: "Please select a department",
                CourseId: "Please select a course",
                RoomId: "Please allocate a room",
                DayId: "Please select a day",
                FromTime: "Please input starting time",
                ToTime: "Please input ending time"


            }
        });

    </script>

    }
</body>
</html>






