@using UnivarsityManagemantSystem.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FacultyLayout.cshtml";
    List<Department> departments = ViewBag.Departments;
    List<Semester> semesters = ViewBag.Semesters;
}

<h4><i class="icon-plus-sign">Add Course</i></h4>
<!DOCTYPE html>
@section style
    {
    <style>
        label.error {
            color: red;
            font-style: italic;
            display: inline;
        }
    </style>
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    
</head>
<body>
    <div>
        <form method="POST" id="saveCourseForm">
            <table>
                <tr>
                    <td><label for="Code">Code : </label></td>
                    <td><input type="text" id="Code" name="CourseCode" /></td>
                </tr>
                <tr>
                    <td><label for="Name">Name : </label></td>
                    <td><input type="text" id="Name" name="CourseName" /></td>
                </tr>
                <tr>
                    <td><label for="Cradit">Credit : </label></td>
                    <td><input type="text" id="Cradit" name="Cradit" /></td>
                </tr>

                <tr>
                    <td><label for="">Department : </label></td>
                    <td>
                        <select id="DepartmentId" name="DepartmentId">
                            <option value="">--Select--</option>
                            @foreach (Department department in departments)
                            {
                                <option value="@department.DeptId">@department.DeptName</option>

                            }
                        </select>

                    </td>

                </tr>
                <tr>
                    <td><label for="">Semester : </label></td>
                    <td>
                        <select id="SemesterId" name="SemesterId">
                            <option value="">--Select--</option>
                            @foreach (Semester semester in semesters)
                            {
                                <option value="@semester.SemesterId">@semester.SemesterName</option>

                            }
                        </select>

                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-success"  value="Create" /></td>

                </tr>
                <tr>
                    <td></td>
                    <td><h4>@ViewBag.Message</h4></td>
                </tr>
            </table>
        </form>
    </div>
    @section scripts{
        <script src="~/Scripts/jquery-1.12.4.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

        <script>


            $("#saveCourseForm").validate({
                rules: {
                    CourseCode: "required",
                    CourseName: "required",
                    Cradit: {
                        required: true,
                        min: 1,
                        max: 4
                    },
                    DepartmentId: "required",
                    SemesterId: "required",

                },
                messages: {
                    CourseCode: "Please input a new course code",
                    CourseName: "Please input a new course name",
                    Cradit: {
                        required: "Please enter Credit",
                        min: "Please enter greater than .49",
                        max: "Please enter less than 5.1"
                    },
                    DepartmentId: "Please select a department",
                    SemesterId: "Please select a semester",
                   

                }
            });

        </script>
    }
</body>
</html>


